html {
    background-color: #171717;
}

.carousel-container {
    width: calc(100% - 60px);
    margin: 0 auto;
}

.carousel {
    position: relative;
    width: 80%;
    height: 700px;
    padding: 0px;
    margin: 0 auto;
    margin-bottom: 20px;
    user-select: none;
}

.slide {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0%;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: -99;
    transition: opacity 0.5s;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.active {
    opacity: 100%;
    z-index: 1;
}

.slide:nth-of-type(1) {
    background-image: url(src/images/fighter.jpg);
}

.slide:nth-of-type(2) {
    background-image: url(src/images/thief.jpg);
}

.slide:nth-of-type(3) {
    background-image: url(src/images/wizard.jpg);
}

.slide:nth-of-type(4) {
    background-image: url(src/images/cleric.jpg);
}

.slide:nth-of-type(5) {
    background-image: url(src/images/barbarian.jpg);
}

.controls,
.indicators-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.btn-pause,
.btn-play,
.btn-next,
.btn-prev {
    display: flex;
    width: 100px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #171717;
}

.btn-pause{
    background-image: url(src/icons/pause-button.png);
}

.btn-play {
    background-image: url(src/icons/play-buttton.png);
}

.btn-next {
    background-image: url(src/icons/next.png);
}

.btn-prev {
    background-image: url(src/icons/prev.png);
}

.indicator {
    width: 100px;
    height: 10px;
    background-color: beige;
    cursor: pointer;
}

.indicator.active {
    background-color: #5e2b2a;
}